@import "../main/mixins";

.edit-categories-modal {
  padding: 4rem;
  width: min(100vw - 2rem, 60rem);
  background: var(--color-bg);
  border-radius: 1rem;
  color: var(--color-text);
  border: none;

  &::backdrop {
    background: var(--color-text);
    opacity: 0.15;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      @include inputField;

      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-block: 0.5rem;

      span {
        background: none;
        outline: transparent;
        border: none;
        color: var(--color-text);
        font-size: var(--font-szie-5);
        width: 100%;
      }

      button {
        @include button;

        background: var(--color-bg);
        color: var(--color-text);
      }
    }
  }

  &__new {
    @include button;

    margin-inline: auto;
  }
}
